{% extends "::base.html.twig" %}

{% block content %}
    {% include "MainBundle:Default:admin_menu.html.twig" %}
    <h1>{{ 'Industry creation' | trans }}</h1>

    <form action="{{ path('industry_create') }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <p>
            <button type="submit">{{ 'Create' | trans }}</button>
        </p>
    </form>

    <ul class="record_actions">
        <li>
            <a href="{{ path('industry') }}">
                {{ 'Back to the list' | trans }}
            </a>
        </li>
    </ul>
{% endblock %}
