<article>
    <h4><a href="{{ path('NewsBundleShow', {'id' : news.id }) }}" title="{{ news.header }}">{{ news.header }}</a></h4>
    <span class="date">{{ news.updatedat|date('d/m/Y') }}</span>
    <p>{{  news.extract }}</p>
    <a href="{{ path('NewsBundleShow', {'id' : news.id }) }}" title="{{ news.header }}" class="more">{{ 'more' | trans }}</a>
</article>