<a href="{{ path('computer') }}">{{ 'Computer' | trans }}</a>
<a href="{{ path('industry') }}">{{ 'Industry' | trans }}</a>
<a href="{{ path('person') }}">{{ 'People' | trans }}</a>
<a href="{{ path('news') }}">{{ 'News' | trans }}</a>
<a href="{{ path('article') }}">{{ 'Articles' | trans }}</a>
<a href="{{ path('author') }}">{{ 'Authors' | trans }}</a>
<a href="{{ path('partner') }}">{{ 'Partners' | trans }}</a>
<a href="{{ path('fos_user_security_logout') }}">{{ 'Logout' | trans }}</a>
