{% extends '::base.html.twig' %}
{% set menu_authors = 'active' %}

{% block content %}
    <div class="content" role="content">
        <h2>{{ 'Authors' | trans }}</h2>

        {% for author in authors %}
            <div class="author media-block">
                <div class="media">
                    <p>{{ author.firstName }} {{ author.lastName }}</p>
                </div>

                <div class="text media-block">
                    <div class="contact media">
                        <ul class="links">
                            {% if author.hasWebsite %}
                                <li><a href="{{ author.website }}" target="_blank">{{ author.website }}</a></li>
                            {% endif %}
                            {% if author.hasEmail %}
                                <li><a href="mailto:{{ author.email }}">{{ author.email }}</a></li>
                            {% endif %}
                        </ul>

                        <ul class="socials">
                            {% if author.hasTwitter %}
                                <li><a class="twitter" href="{{ author.twitter }}" target="_blank"></a></li>
                            {% endif %}
                            {% if author.hasFacebook %}
                                <li><a class="facebook" href="{{ author.facebook }}" target="_blank"></a></li>
                            {% endif %}
                            {% if author.hasLinkedin %}
                                <li><a class="linkedin" href="{{ author.linkedin }}" target="_blank"></a></li>
                            {% endif %}
                        </ul>
                    </div>

                    <div class="text">
                        {{ author.description | raw }}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}