{% extends '::base.html.twig' %}
{% set menu_partners = 'active' %}

{% block content %}
    <div class="content" role="content">
        <h2>{{ 'Partners' | trans }}</h2>

        <div class="mobile">
            {% for partner in partners %}
                <div class="partner">
                    <div class="media-block">
                        <div class="partners-{{ partner.name }} media"></div>
                        <div class="text">
                            <div class="wrapper">
                                <h3>{{ partner.title }}</h3>
                                <a href="{{ partner.website }}">{{ partner.website }}</a>
                            </div>
                        </div>
                    </div>

                    {{ partner.description | raw }}
                </div>
            {% endfor %}
        </div>

        <div class="desktop">
            {% for partner in partners %}
                <div class="partner media-block">
                    <div class="partners-{{ partner.name }} media"></div>
                    <div class="text">
                        <h3>{{ partner.title }}</h3>
                        <a href="{{ partner.website }}">{{ partner.website }}</a>
                        {{ partner.description | raw }}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}