{% if loop.index == 6 %}
    {# <li class="filter desktop">{% include "PeopleBundle:Default:filters.html.twig" with {'industries': industries, 'computers': computers} only %}</li> #}
{% else %}
    <li data-id="id-{{ loop.index }}" data-value={{ person.lastName|lower }}>
        <a href="{{ path('PeopleBundlePersonName', {'firstname': person.firstName, 'lastname': person.lastName}) }}">
            <img src="/{{ person.getMainPhoto.getWebPath }}" alt="" />
            <span>{{ person.firstName }} {{ person.lastName }}</span>
        </a>
    </li>

{% endif %}
