<div>
    <h3>{{ 'Filters' | trans }}</h3>

    <section>
        <h4>{{ 'Industry' | trans }}</h4>
        <select id="filter-industry">
            <option value="all">{{ 'All' | trans }}</option>
            {% for industry in industries %}
                <option value="i{{ industry.id }}">{{ industry.name }}</option>
            {% endfor %}
        </select>
    </section>

    <section>
        <h4>{{ 'Computer' | trans }}</h4>
        <select id="filter-computer">
            <option value="all">{{ 'All' | trans }}</option>
            {% for computer in computers %}
                <option value="c{{ computer.id }}">{{ computer.name }}</option>
            {% endfor %}
        </select>
    </section>
</div>

<div>
    <h3>SORTOWANIE</h3>
    <section class="sorting">
        <h4>Nazwisko</h4>
        <a href="#" data-sort="asc">A-Z</a>
        <a href="#" data-sort="desc">Z-A</a>
    </section>
</div>