{% import 'PeopleBundle:Default:borders.html.twig' as borders %}

<div class="result media-block">
    <div class="media">
        <a href="{{ path('PeopleBundlePersonNameWithColor', {'firstname': person.firstName, 'lastname': person.lastName, 'color': loop.index % 5}) }}">
            <img src="/{{ person.largePhoto.webPath }}" class="{{- borders.color(loop.index) -}}" alt="" />
        </a>
    </div>

    <div class="text media-block">
        <div class="contact media">
            <ul class="links">
                {% if not person.website is empty %}
                    <li><a target="_blank" href="{{ person.website }}">{{ person.website }}</a></li>
                {% endif %}
            </ul>

            <ul class="socials">
                {% if not person.twitter is empty %}
                    <li><a class="twitter" href="{{ person.twitter }}"></a></li>
                {% endif %}
                {% if not person.facebook is empty %}
                    <li><a class="facebook" href="{{ person.facebook }}"></a></li>
                {% endif %}
                {% if not person.linkedin is empty %}
                    <li><a class="linkedin" href="{{ person.linkedin }}"></a></li>
                {% endif %}
                {% if not person.website is empty %}
                    <li><a class="home" href="{{ person.website }}"></a></li>
                {% endif %}
            </ul>
        </div>

        <div class="text">
            <h3><a href="{{ path('PeopleBundlePersonNameWithColor', {'firstname': person.firstName, 'lastname': person.lastName, 'color': loop.index % 5}) }}">{{ person.lastName }} {{ person.firstName }}</a></h3>
            {{ person.summary | raw }}
            <a href="{{ path('PeopleBundlePersonNameWithColor', {'firstname': person.firstName, 'lastname': person.lastName, 'color': loop.index % 5}) }}" class="details">{{ 'details' | trans }}</a>
        </div>
    </div>
</div>