{% extends '::base.html.twig' %}
{% import 'PeopleBundle:Default:borders.html.twig' as borders %}

{% block content %}
    <div id="h">
        <div id="h-left">
            <h1>{{ person.firstName}} {{ person.lastName }}</h1>

            <ul class="list-socials">
                {% if not person.twitter is empty %}
                    <li><a class="twitter" href="{{ person.twitter }}" target="_blank"></a></li>
                {% endif %}
                {% if not person.facebook is empty %}
                    <li><a class="facebook" href="{{ person.facebook }}" target="_blank"></a></li>
                {% endif %}
                {% if not person.linkedin is empty %}
                    <li><a class="linkedin" href="{{ person.linkedin }}" target="_blank"></a></li>
                {% endif %}
            </ul>

            <div class="clear"></div>

            <ul class="list-links">
                {% if not person.website is empty %}
                    <li><a href="{{ person.website }}" target="_blank">{{ person.website }}</a></li>
                {% endif %}
            </ul>

            <ul class="list-description">
                <li><b>{{ 'First computer' | trans }}:</b> {{ person.firstComputer.name }}</li>
                <li><b>{{ 'Industry' | trans }}:</b> {{ person.industry.name }}</li>
            </ul>

            <div id="h-description">
                <p>{{ person.description | raw }}</p>

                <div class="cite">
                    <p class="cite">{{ person.quotation }}</p>
                </div>
            </div>

            {% block back_button %}
                <a class="link-back" href="javascript: history.go(-1)">{{ 'back' | trans }}</a>
            {% endblock %}

            <div class="share-buttons">
                {% include "MainBundle:Default:share.html.twig" %}
            </div>
            <div id="box-h-more">
                <h2>{{ 'See also' | trans }}</h2>
                {% include "PeopleBundle:Default:seealso.html.twig" with {'people': people } only %}
            </div>
        </div>

        <div id="h-right">
            <div class="photo-big {{ borders.color(color) }}">
                  <img width="410" height="410" src="/{{ person.photos.next.getWebPath }}" alt="" />
            </div>
            {% spaceless %}
                <div class="photo-small">
                    {% for photo in person.photos %}
                        {% if loop.index > 2 %}
                            <img width="120" height="120" class="photo-small photo-small0{{ loop.index -2 }}" src="/{{ photo.getWebPath }}" />
                        {% endif %}
                    {% endfor %}
                </div>
            {% endspaceless %}


            <div id="tags">
                <h2>{{ 'Keywords' | trans }}</h2>
                <ul>
                    {% for tag in person.tags %}
                        <li>{{ tag.name }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="clear"></div>
    </div>
{% endblock %}
