{% extends '::base.html.twig' %}
{% import 'PeopleBundle:Default:borders.html.twig' as borders %}

{% block content %}
    <div class="person" role="content">
        <div class="description">
            <h2>{{ person.firstName}} {{ person.lastName }}</h2>

            <ul class="list-socials">
                {% if not person.twitter is empty %}
                    <li><a class="twitter" href="{{ person.twitter }}" target="_blank"></a></li>
                {% endif %}
                {% if not person.facebook is empty %}
                    <li><a class="facebook" href="{{ person.facebook }}" target="_blank"></a></li>
                {% endif %}
                {% if not person.linkedin is empty %}
                    <li><a class="linkedin" href="{{ person.linkedin }}" target="_blank"></a></li>
                {% endif %}
            </ul>

            <ul class="list-links">
                {% if not person.website is empty %}
                    <li><a href="{{ person.website }}" target="_blank">{{ person.website }}</a></li>
                {% endif %}
            </ul>

            <ul class="list-description">
                <li><b>{{ 'First computer' | trans }}:</b> {{ person.firstComputer.name }}</li>
                <li><b>{{ 'Industry' | trans }}:</b> {{ person.industry.name }}</li>
            </ul>

            <section>
                <p>{{ person.description | raw }}</p>

                <blockquote>{{ person.quotation }}</blockquote>
            </section>

            <div class="share-buttons">
                {% include "MainBundle:Default:share.html.twig" %}

                {% block back_button %}
                    <a class="back" href="javascript: history.go(-1)">{{ 'back' | trans }}</a>
                {% endblock %}
            </div>

            <div id="tags">
                <h2>{{ 'Keywords' | trans }}</h2>
                <ul>
                    {% for tag in person.tags %}
                        <li>{{ tag.name }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <div class="photos">
            <div class="main">
                  <img src="/{{ person.photos.next.getWebPath }}" class="{{ borders.color(color) }}" alt="" />
            </div>

            <div class="list">
                {% for photo in person.photos %}
                    {% if not loop.first %}
                        <img class="photo-small0{{ loop.index -1 }}" src="/{{ photo.getWebPath }}" />
                    {% endif %}
                {% endfor %}
            </div>

            <div class="see-also">
                <h2>{{ 'See also' | trans }}</h2>

                <ul>
                    {% include "PeopleBundle:Default:seealso.html.twig" with {'people': people } only %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}