{% extends '::base.html.twig' %}

{% block content %}
    {% if people is empty %}
        <div class="search">
            {% render "PeopleBundle:Default:searchbox" %}
        </div>
    {% endif %}
    <div id="content-top">
        <div class="box-title">
            <h1>{{ header | trans }}</h1>
        </div>
        <div class="clear"></div>

    </div>

    <div id="list-person">
        {% for person in people %}
            {% include "PeopleBundle:Default:person_long.html.twig" with {'person': person, 'loop': loop} only %}
        {% else %}
            <div id="box-persons-notice" class="center">
                <h3>{{ 'No people found' | trans }}</h3>
                <a href="{{ path('PeopleBundlePeople') }}" class="link-more" title="">{{ 'Back to the people list' | trans }}</a>
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block back_button %}
    <a class="link-back" href="{{ path('PeopleBundlePeople') }}">{{ 'All people' | trans }}</a>
{% endblock %}
