{% extends '::base.html.twig' %}

{% block content %}
    <div class="results" role="content">
        {% if people is empty %}
            <div class="search">
                {% render "PeopleBundle:Default:searchbox" %}
            </div>
        {% endif %}
        
        <h2>{{ header | trans }}</h2>
        
        {% for person in people %}
            {% include "PeopleBundle:Default:person_long.html.twig" with {'person': person, 'loop': loop} only %}
        {% else %}
            <div class="empty">
                <h3>{{ 'No people found' | trans }}</h3>
                <a href="{{ path('PeopleBundlePeople') }}" class="back" title="">{{ 'Back to the people list' | trans }}</a>
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block back_button %}
    <a class="back" href="{{ path('PeopleBundlePeople') }}">{{ 'All people' | trans }}</a>
{% endblock %}
