{% import 'PeopleBundle:Default:borders.html.twig' as borders %}
{% for person in people %}
	{% if loop.index < 4 %}
	    <li class="{{ borders.color(loop.index) }}">
	        <a href="{{ path('PeopleBundlePersonWithColor', {'id': person.id, 'color': loop.index}) }}">
		        <img src="/{{ person.getMainPhoto.getWebPath }}" alt=""/>
		        <span>{{ person.firstName }} {{ person.lastName }}</span>
	        </a>
	    </li>
	{% endif %}
{% endfor %}