{% extends "::base.html.twig" %}

{% import 'PeopleBundle:Default:borders.html.twig' as borders %}

{% block content %}
    {% render "PeopleBundle:Default:alphabet" %}
    <div class="search">
        {% render "PeopleBundle:Default:searchbox" %}
    </div>

    <div class="slider" role="content">
        <span class="scroll"></span>
        <ul>
            {% for person in people %}
                <li>
                    <a href="{{ path('PeopleBundlePersonNameWithColor', {'firstname': person.firstName, 'lastname': person.lastName, 'color': loop.index % 5}) }}" class="name {{ borders.color(loop.index) }}">
                        <img src="/{{ person.largePhoto.webPath }}"/>
                        <h5>{{ person.firstName }} {{ person.lastName }}</h5>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
